*{
    padding: 0%;
    margin: 0%;
    
  
}
body{
    background-image: url(./fondorosa1.jpg);
    width: 100%;
}
h1{
    color: aliceblue;
    font-style: italic;
    margin-top: 30%;
    margin-left: 15%;
}
h2{
    color: rgb(218, 54, 182);
    font-style: italic;
    margin-left: 10%;
    margin-top: 5%;
}
.portafolio{
  
}