.nav{
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.imagen{
  width: 70%;
  margin-left: 5%;
}
.portada{
  margin-left: 2%;
}
.parr1{
  padding-top: 10%;
  margin-left: 10%;
}
.img{
  margin-top:10%; 
  width: 50%;
}
.nombre2{
 width: 40%;
}
.contenedor{
  margin-left: 10%;
}
.caja1{
  width: 40%;
  margin-top: 10%;
  margin-right: 5%;

}
hr{
  width: 30%;
  height: 10%;
}
.bot{
  width: 50%;
}
.bot1{
   width: 50%;
   margin-left: 3%;

}
.bot2{
  width:50%;
  margin-left: 2%;

}
.bot3{
  width: 50%;
  margin-left: 2%;

}
.bot4{
   width: 50%;  
   margin-left: 2%;


}
.label{
  width: 50%;
  margin-left: 2%;
}
.bot5{
  width: 40%;
}

.skill{
  width: 10%;
  list-style: none;
  border-radius: 50%;
}
.about{
  width: 10%;
  list-style: none;
  border-radius: 50%;
}
.contact{
  width: 10%;
  list-style: none;
  border-radius: 50%;
}